<% if @task.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1 class="mb-4 text-center">タスク作成</h1>

<%= render "form" %>

