/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .toast-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

.toast-exit {
  opacity: 1;
}

.toast-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
